<div class="padded scrollablecontent" *ngIf="CheckHome()">
    <br/>
    <div class="ui nopad custombutton animated topleft button" [routerLink]="['../search-results']">
        <div class="hidden content">Go Back</div>
        <div class="visible content">
            <i class="arrow circle left icon"></i>
        </div>
    </div>
    <h1>{{currentHome.name}}</h1>
    <div class="full">
        <img class="other display" src="{{image}}" />
        <p>Address: {{currentHome.address}}, {{currentHome.county}}</p>
        <p>Phone: {{currentHome.phone}}</p>
        <p>Email: {{currentHome.email}}</p>
        <p>Contact: {{currentHome.contact}}</p>
        <button class="ui other custombutton button">Claim Home</button>
        <div class="paddedlikep">
            <p class="inline">Website: </p>
            <a href={{currentHome.site}}>{{currentHome.site}}</a>
        </div>
        <div class="paddedlikep">
            <p class="inline">HIQA: </p>
            <a href={{currentHome.hiqa}}>{{currentHome.hiqa}}</a>
        </div>
        <p>Bed/Staff Patient ratio: {{ratio}}</p>
        <label>Share this listing on: </label>
        <share-buttons [theme]="'modern-dark'" [showText]="true" [size]="-2" [include]="['facebook','twitter','google','linkedin','pinterest','email','print']"
            [show]="7" [title]="currentHome.name" [image]="image" [description]="currentHome.description" [tags]="'#careze'"></share-buttons>
        <p class="description">{{currentHome.description}}</p>
        <h2>Specialist Care</h2>
        <table class="full table" id="Care"></table>
        <h2>Facilities</h2>
        <table class="full table" id="Facilities"></table>
        <div class="ui fluid custombutton buttons">
            <button class="ui custombutton button contentvisible1" id="expand" onclick="Expand1()">Leave a Review</button>
            <a class="ui custombutton button" (click)="UpdateCurrentHome()">Get in Contact</a>
        </div>
        <div class="contentexpanded1">
            <div class="ui form">
                <div class="three fields">
                    <div class="field">
                        <label>Level of Care</label>
                        <select class="ui dropdown" #criteria1>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Cleanliness</label>
                        <select class="ui dropdown" #criteria2>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Staff</label>
                        <select class="ui dropdown" #criteria3>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Treated with Dignity</label>
                        <select class="ui dropdown" #criteria4>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Food/drink</label>
                        <select class="ui dropdown" #criteria5>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Facilities</label>
                        <select class="ui dropdown" #criteria6>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Management</label>
                        <select class="ui dropdown" #criteria7>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Rooms</label>
                        <select class="ui dropdown" #criteria8>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Safety/Security</label>
                        <select class="ui dropdown" #criteria9>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Value for Money</label>
                        <select class="ui dropdown" #criteria10>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Location</label>
                        <select class="ui dropdown" #criteria11>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Activities</label>
                        <select class="ui dropdown" #criteria12>
                            <option value="">Select Option</option>
                            <option *ngFor="let value of values" [value]="value.id">{{value.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label>Details</label>
                    <textarea #comment></textarea>
                </div>
                <div class="ui fluid two buttons">
                    <button class="ui red custombutton button" onclick="Expand1()">Cancel</button>
                    <button class="ui custombutton button" id="create"
                    (click)="LeaveReview(criteria1.value,criteria2.value,criteria3.value,criteria4.value,criteria5.value,criteria6.value,criteria7.value,criteria8.value,criteria9.value,criteria10.value,criteria11.value,criteria12.value,comment.value)">Leave Review</button>
                </div>
            </div>
        </div>
        <div class="ui vertical segments">
            <app-review *ngFor="let Review of Reviews" [Review]="Review" [Home]="currentHome" [Tier]="currentHome.tier"></app-review>
        </div>
    </div>
</div>