<div class="scrollablecontent">
  <div *ngIf="CheckUser()" class="padded">
    <br/>
    <h1>Welcome {{User.name}}</h1>
    <div class="inline other">
      <div class="ui form contentexpanded">
          <div class="">
              <div class="field">
                <label>Password</label>
                <input type="text" name="password" placeholder="Password">
              </div>
              <div class="field">
                <label>New Password</label>
                <input type="text" name="newpassword" placeholder="New Password">
              </div>
              <div class="field">
                <label>Confirm New Password</label>
                <input type="text" name="confirmpassword" placeholder="Confirm New Password">
              </div>
              <button class="ui fluid custombutton button" (click)="changePassword()">Change Password</button>
            </div>
            <div>
              <div class="field">
                <label>New Email</label>
                <input type="text" name="newemail" placeholder="New Email">
              </div>
              <div class="field">
                <label>Confirm New Email</label>
                <input type="text" name="confirmemail" placeholder="Confirm New Email">
              </div>
              <button class="ui fluid custombutton button" (click)="changeEmail()">Change Email</button>
            </div>
            <br/>
        <div>
          <button class="ui fluid red custombutton button" id="expand" onclick="Expand()">Cancel</button>
        </div>
      </div>
      <div class="contentvisible">
        <button class="ui fluid custombutton button" id="expand" onclick="Expand()">Change Password/Email</button>
      </div>
    </div>
    <div class="half inline" *ngIf="CheckHouses()">
      <h2 class="iconbutton">Homes</h2>
      <app-listing *ngFor="let Home of UserHomes" [Home]="Home"></app-listing>
      <button class="ui custombutton button" [routerLink]="['../home-signup']">Claim Home</button>
      <button class="ui custombutton button" [routerLink]="['../payments']">Payment</button>
    </div>
    <div class="half inline" *ngIf="!CheckHouses()">
      <h2 class="iconbutton">Homes</h2>
      <p class="half">This feature is for the management of homes by their owners. Feel free to claim a home if you own/adminsiter one and
        we'll be happy to help.</p>
      <button class="ui custombutton button" [routerLink]="['../home-signup']">Claim Home</button>
    </div>
  </div>
  <div class="centred" *ngIf="!CheckUser()">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>