<div class="scrollablecontent">
  <div *ngIf="CheckUser()" class="padded">
    <br/>
    <h1 class="welcome">Hi {{User.name}}</h1>
    <!--==== Personal Info ====-->
    <div class="user-info-holder">
      <div class="individual-info">
        <p class="info-title">Your user name is <span class="heavy">{{displayName}}</span></p>
        <p class="info-description">This is the name which is visible to other members of the community on any reviews you make</p>
        <a class="info-edit changeName" onclick="modalName()">Change user name</a>
      </div>
      <div class="individual-info">
        <p class="info-title">Your email is <span class="heavy">{{email}}</span></p>
        <p class="info-description">This is the email address associated with this account</p>
        <a class="info-edit" onclick="modalEmail()">Change email address</a>
      </div>
      <div class="individual-info">
        <p class="info-title">Your password</p>
        <p class="info-description">You'll need to know your current password in order to change it</p>
        <a class="info-edit" onclick="modalPassword()">Change password</a>
      </div>
    </div>
    <!--==== Info for Home Owner ====-->
    <div class="home-info-holder" *ngIf="!publicUser | async">
      <div class="home-list">
          <p class="info-title">Your homes</p>
          <div class="list">
            <p class="info-description" *ngFor="let home of UserHomes">{{home.name}}</p>
          </div>
          <button class="ui custombutton button" [routerLink]="['../home-signup']">Claim Home</button>
      </div>
      <div class="home-spacer"></div>
      <div class="home-actions">
          <p class="">These features are for the management of homes by their owners. Feel free to claim a home if you own/adminsiter one and
              we'll be happy to help.</p>
          <div class="individual-info">
            <p class="info-title">Tier Selection / Payments</p>
            <p class="info-description">Review the pricing for each of your homes</p>
            <a class="info-edit" [routerLink]="['../payments']">Go to payments screen</a>
          </div>
          <div class="individual-info">
            <p class="info-title">Claim a home</p>
            <p class="info-description">Claim your homes to enable managing their listings</p>
            <a class="info-edit" [routerLink]="['../home-signup']">Go to claim home screen</a>
          </div>
      </div>
    </div>


  </div>   
</div>

<!--==== Modals for options above ====-->
<div class="ui modal change-user-name">
  <i class="close icon"></i>
  <div class="header">
    Change your user name
  </div>
  <p>Enter your new user name</p>
  <div class="ui fluid input">
    <input type="text" placeholder="User name..." [(ngModel)]="changeUserName">
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button" (click)="updateDisplayName()">OK</div>
  </div>
</div>

<div class="ui modal change-email">
  <i class="close icon"></i>
  <div class="header">
    Change your email
  </div>
  <p>Enter your new email</p>
  <div class="ui fluid input">
    <input type="text" placeholder="email..." [(ngModel)]="changeEmailMod">
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button" (click)="updateEmail()">OK</div>
  </div>
</div>

<div class="ui modal change-password">
    <i class="close icon"></i>
    <div class="header">
      Change your password
    </div>
    <p>Enter your new password</p>
    <div class="ui fluid input">
      <input type="text" placeholder="password..." [(ngModel)]="changePasswordMod">
    </div>
    <div class="ui fluid input">
      <input type="text" placeholder="confirm password..." [(ngModel)]="changePasswordConfirm">
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button" (click)="updatePassword()">OK</div>
    </div>
  </div>





























    <!-- replaced
    <div class="inline other">
      <div class="ui form contentexpanded">
          <div class="">
              <div class="field">
                <label>Password</label>
                <input type="text" name="password" placeholder="Password">
              </div>
              <div class="field">
                <label>New Password</label>
                <input type="text" name="newpassword" placeholder="New Password">
              </div>
              <div class="field">
                <label>Confirm New Password</label>
                <input type="text" name="confirmpassword" placeholder="Confirm New Password">
              </div>
              <button class="ui fluid custombutton button" (click)="changePassword()">Change Password</button>
            </div>
            <div>
              <div class="field">
                <label>New Email</label>
                <input type="text" name="newemail" placeholder="New Email">
              </div>
              <div class="field">
                <label>Confirm New Email</label>
                <input type="text" name="confirmemail" placeholder="Confirm New Email">
              </div>
              <button class="ui fluid custombutton button" (click)="changeEmail()">Change Email</button>
            </div>
            <br/>
        <div>
          <button class="ui fluid red custombutton button" id="expand" onclick="Expand()">Cancel</button>
        </div>
      </div>
    

      <div class="contentvisible">
        <button class="ui fluid custombutton button" id="expand" onclick="Expand()">Change Password/Email</button>
      </div>
    </div>
    -->
    <!--
    <div class="half inline" *ngIf="!verified | async">
      <h2 class="iconbutton">Homes</h2>
      <app-listing *ngFor="let Home of UserHomes" [Home]="Home"></app-listing>
      <button class="ui custombutton button" [routerLink]="['../home-signup']">Claim Home</button>
      <button class="ui custombutton button" [routerLink]="['../payments']">Payment</button>
    </div>
    <div class="half inline" *ngIf="!verified | async">
      <h2 class="iconbutton">Homes</h2>
      <p class="half">This feature is for the management of homes by their owners. Feel free to claim a home if you own/adminsiter one and
        we'll be happy to help.</p>
      <button class="ui custombutton button" [routerLink]="['../home-signup']">Claim Home</button>
    </div>
  </div>
  <div class="centred" *ngIf="!CheckUser()">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
</div>
-->