<!--

<div class="scrollablecontent">
  <div *ngIf="CheckUserNegative()" class="padded">
    <br/>
    <h1>Welcome {{User.fName}}</h1>
    <div class="inline other">
      <div class="ui form">
        <div class="contentexpanded">
          <div class="field">
            <label>Password</label>
            <input type="text" name="password" placeholder="Password">
          </div>
          <div class="field">
            <label>New Password</label>
            <input type="text" name="newpassword" placeholder="New Password">
          </div>
          <div class="field">
            <label>Confirm New Password</label>
            <input type="text" name="confirmpassword" placeholder="Confirm New Password">
          </div>
          <button class="ui fluid custombutton button" id="changepassword">Change Password</button>
        </div>
        <div class="contentexpanded">
          <div class="field">
            <label>New Email</label>
            <input type="text" name="newemail" placeholder="New Email">
          </div>
          <div class="field">
            <label>Confirm New Email</label>
            <input type="text" name="confirmemail" placeholder="Confirm New Email">
          </div>
          <button class="ui fluid custombutton button" id="changeemail">Change Email</button>
        </div>
        <button class="ui custombutton button" id="expand" onclick="Expand()">Change Password/Email</button>
      </div>
    </div>
    <div class="half inline">
      <h2 class="iconbutton">Homes</h2>
      <app-listing *ngFor="let Home of User.homes" [Display]="Home.name" [Link]="['../edit-details']"></app-listing>
    </div>
  </div>
  <div class="centred" *ngIf="CheckUser()">
    <br/>
    <h1>Sorry! You don't appear to be logged in</h1>
  </div>
  </div>

-->



  <div class="scrollablecontent">
    <div class="padded">
      <br/>
      <img src="{{profile?.picture}}" class="avatar" alt="avatar">
      <h1>Welcome {{profile?.name}}</h1>
      <pre class="full-profile">{{ profile | json }}</pre>


      <button [routerLink]="['../payments']">Payment</button>
    </div>
    </div>
