<div class="centred scrollablecontent">
  <div class="mob-spacer"></div>
  <h2 class="mob-heading">Login</h2>
  <div class="ui form">
    <div class="field">
      <label>Email Address</label>
      <input type="text" name="email" placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="contentexpanded">
      <div class="field">
        <label>Confirm Email Address</label>
        <input type="text" name="confirmemail" placeholder="Email">
      </div>
      <div class="field">
        <label>First Name</label>
        <input type="text" name="fname" placeholder="First Name">
      </div>
      <div class="field">
        <label>Surname</label>
        <input type="text" name="sname" placeholder="Surname">
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="contentexpanded">
      <div class="field">
        <label>Confirm Password</label>
        <input type="text" name="confirmpassword" placeholder="Password">
      </div>
      <div class="ui two fluid buttons">
        <button class="ui custombutton button" id="expand" onclick="Expand()">Have an Account?</button>
        <div class=or></div>
        <a class="ui custombutton button">Create Account</a>
      </div>
    </div>
    <div class="ui two fluid buttons contentvisible">
      <button class="ui custombutton button" id="expand" onclick="Expand()">Don't have an Account?</button>
      <div class=or></div>
      <a class="ui custombutton button" (click)="Login()">Log In</a>
    </div>
  </div>
  <br/>
  <div class="mob-spacer"></div>
  <p class="inline">Having trouble?</p>
  <a class="ui custombutton button" [routerLink]="['../forgot']">Recover Password</a>
</div>