<div class="centred scrollablecontent">
  <div class="ui form">
    <div class="field">
      <label>Email Address</label>
      <input type="text" name="email" placeholder="Email">
    </div>
    <div class="contentexpanded">
    <div class="field">
      <label>Confirm Email Address</label>
      <input type="text" name="confirmemail" placeholder="Email">
    </div>
    <div class="field">
      <label>First Name</label>
      <input type="text" name="fname" placeholder="First Name">
    </div>
    <div class="field">
        <label>Surname</label>
        <input type="text" name="sname" placeholder="Surname">
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <input type="text" name="password" placeholder="Password">
    </div>
    <div class="contentexpanded">
        <div class="field">
      <label>Confirm Password</label>
      <input type="text" name="confirmpassword" placeholder="Password">
    </div>
        <button class="ui fluid custombutton button" id="create">Create Account</button>
    </div>
    <div class="ui fluid buttons">
    <button class="ui custombutton button" id="expand" onclick="Expand()">Sign Up</button>
    <div class=or></div>
    <a class="ui custombutton button" (click)="Login()" [routerLink]="['../account']">Log In</a>
    </div>
  </div>
  <br/>
  <p class="inline">Having trouble?</p>
  <a class="ui custombutton button" [routerLink]="['../forgot']">Recover Password</a>
</div>