<div class="centred scrollablecontent" *ngIf="CheckHome()">
  <div class="ui form">
    <div class="field">
      <label>Name</label>
      <input type="text" [value]="GetName()" name="name" placeholder="Name">
    </div>
    <div class="field">
      <label>Address</label>
      <input type="text" [value]="GetAddress()" name="address" placeholder="Address">
    </div>
    <div class="field">
      <label>County</label>
      <input type="text" [value]="GetCounty()" name="county" placeholder="County">
    </div>
    <div class="field">
      <label>Country</label>
      <input type="text" [value]="GetCountry()" name="country" placeholder="Country">
    </div>
    <div class="field">
      <label>Phone</label>
      <input type="text" [value]="GetPhone()" name="phone" placeholder="Phone">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" [value]="GetEmail()" name="email" placeholder="Email">
    </div>
    <div class="field">
      <label>Contact Name</label>
      <input type="text" [value]="GetContact()" name="contact" placeholder="Contact">
    </div>
    <div class="field">
      <label>Website</label>
      <input type="text" [value]="GetSite()" name="website" placeholder="Website">
    </div>
    <div class="field">
      <label>Number of Beds</label>
      <input type="text" [value]="GetBeds()" name="beds" placeholder="Beds">
    </div>
    <div class="field">
      <label>Number of Staff</label>
      <input type="text" [value]="GetStaff()" name="staff" placeholder="Staff">
    </div>
    <div class="field">
      <label>Description</label>
      <textarea [value]="GetDescription()"></textarea>
    </div>
    <div class="field">
      <label>Facilites</label>
      <div class="full">
        <div class="inline field" *ngFor="let Facility of facilities">
          <div class="ui quarter checkbox">
            <input type="checkbox" [attr.checked]="Facility.value == true ? 'checked' : null">
            <label>{{Facility.name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
        <label>Care Types</label>
        <div class="full">
          <div class="inline field" *ngFor="let Facility of careTypes">
            <div class="ui quarter checkbox">
              <input type="checkbox" [attr.checked]="Facility.value == true ? 'checked' : null">
              <label>{{Facility.name}}</label>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br/>
  <button class="ui fluid custombutton button">Update</button>
</div>