<div class="ui raised vertical segment">
    <div class="ui form contactForm" [id]="ID">
        <div *ngIf="CheckTier()" class="field">
          <label>Response category:</label>
          <select class="ui dropdown" #cat (change)="UpdateDrop(cat.value)">
            <option value="99">Select Option</option>
            <option *ngFor="let response of responses" [value]="response.id">{{response.name}}</option>
          </select>
        </div>
        <div class="field">
          <label>Response:</label>
          <select class="ui dropdown" [attr.disabled]="disabled?'':null" #option>
            <option value="">Select Option</option>
            <option *ngFor="let response of selectedResponses" [value]="response.text">{{response.text}}</option>
          </select>
          <br/>
          <div class="ui medium two buttons">
            <button class="ui red custombutton button" (click)="ClosePopup()">Cancel</button>
            <div class=or></div>
            <button class="ui custombutton button" (click)="LeaveReview(option.value)">Send</button>
          </div>
        </div>
      </div>
  <div class="ui top attached tabular menu">
    <h4 class="showuser">{{Review.user}}</h4>
    <div class="right menu">
      <a class="active item" data-tab="first">Ratings</a>
      <a class="item" data-tab="second">Comment</a>
    </div>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="first">
    <div class="ui horizontal segments">
      <div class="ui ratings segment">
        <p class="other">{{Review.care}}/5</p>
        <p>Level of Care:</p>
        <p class="other">{{Review.cleanliness}}/5</p>
        <p>Cleanliness:</p>
        <p class="other">{{Review.staff}}/5</p>
        <p>Staff:</p>
        <p class="other">{{Review.dignity}}/5</p>
        <p>Treated with Dignity:</p>
      </div>
      <div class="ui ratings segment">
        <p class="other">{{Review.food}}/5</p>
        <p>Food/Drink:</p>
        <p class="other">{{Review.facilities}}/5</p>
        <p>Facilities:</p>
        <p class="other">{{Review.management}}/5</p>
        <p>Management:</p>
        <p class="other">{{Review.rooms}}/5</p>
        <p>Rooms:</p>
      </div>
      <div class="ui ratings segment">
        <p class="other">{{Review.safety}}/5</p>
        <p>Safety/Security:</p>
        <p class="other">{{Review.value}}/5</p>
        <p>Value for Money:</p>
        <p class="other">{{Review.location}}/5</p>
        <p>Location:</p>
        <p class="other">{{Review.activities}}/5</p>
        <p>Activities:</p>
      </div>
      <div class="ui small segment">
        <div class=rating>
          <i [ngClass]="CheckRating(1)"></i>
          <i [ngClass]="CheckRating(2)"></i>
          <i [ngClass]="CheckRating(3)"></i>
          <i [ngClass]="CheckRating(4)"></i>
          <i [ngClass]="CheckRating(5)"></i>
        </div>
        <h3 class="ratingtext">{{Review.overall}}/5</h3>
      </div>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <p class="comment">{{Review.comment}}</p>
    <p *ngIf="CheckResponse()">Home responded: {{Review.response}}</p>
  </div>
  <div class="smallpad" [attr.data-tooltip]="GetTooltip()" data-position="bottom center">
    <div class="ui inline nopad mini green animated button" (click)="IncrementAgreed()">
      <div class="visible content">Agree</div>
      <div class="hidden content">
        <i class="arrow circle up icon"></i>
      </div>
    </div>
    <div class="inline" id="ratingsbar" style="overflow: hidden;">
      <div style="background-color: #21ba45;" [style.width]="Agreed()"></div>
      <div style="background-color: red;" [style.width]="Disagreed()"></div>
    </div>
    <div class="ui inline other nopad mini red animated button" (click)="IncrementDisagreed()">
      <div class="visible content">Disagree</div>
      <div class="hidden content">
        <i class="arrow circle down icon"></i>
      </div>
    </div>
  </div>
  <div class="padded" *ngIf="CheckValid()">
    <br/>
    <button class="ui custombutton button" (click)="OpenPopup()">Respond</button>
  </div>
</div>