<div class="scrollablecontent home" id="home">
    <div class="padded homecontainer">
        <br/>
        <h1 class="white">Find the care you deserve</h1>
        <br/>
        <div id="content-pane" class="half">
            <div id="inputs" class="ui huge form">
                <div class="field">
                    <input type="text" name="address" id="geocomplete" onclick="geocomplete()" placeholder="Eg. Ballymun or Summerville Nursing Home, Sligo"
                        #address>
                </div>
            </div>
            <br/>
            <a class="ui fluid custombutton button" (click)="Calculate(address.value)">Search</a>
        </div>
        <div class="map_canvas"></div>
    </div>
</div>