<div class="scrollablecontent home" id="fullpage">
    <div class="padded homecontainer section">
        <div id="content-pane" class="box">
            <div id="inputs" class="ui massive form">
                <h1 class="otherhalf big">Find the care your loved ones deserve</h1>
                <div class="field">
                    <input type="text" name="address" id="geocomplete" onclick="geocomplete()" placeholder="Eg. Galway, Ballymun or Summerville Nursing Home, Sligo"
                        #address>
                </div>
            </div>
            <br/>
            <a class="ui fluid massive custombutton button" (click)="Calculate(address.value)">Search</a>
        </div>
        <div class="map_canvas"></div>
    </div>
    <div class="padded section">
        <h1>Users</h1>
        <p>Careze is the Trip Advisor for Nursing Homes, read & leave reviews form all the quality nursing homes in your area
            to find the best care for your loved ones.</p>
        <div class="ui three column centered grid">
            <div class="column">
                <i class="huge circular search icon"></i>
                <h2>Read</h2>
                <p>Find a Nursing Home that best suits the needs & requirements of loved ones</p>
            </div>
            <div class="column">
                <i class="huge circular write icon"></i>
                <h2>Review</h2>
                <p>Get independent feedback & reviews from service users & their families</p>
            </div>
            <div class="column">
                <i class="huge circular comments icon"></i>
                <h2>Enquire</h2>
                <p>Make direct enquiries to the Homes listed & keep record of your enquiries</p>
            </div>
        </div>
        <br/>
        <a class="ui fluid huge custombutton button" onclick="moveUp()">Get started</a>
    </div>
    <div class="padded section">
        <h1>Homes</h1>
        <p>Careze is more than just a directory listing, with user reviews; it’s a back-end enquiry management system which
            enables nursing homes to respond to all their enquiries in a timely efficient manner</p>
        <div class="ui three column centered grid">
            <div class="column">
                <i class="huge circular browser icon"></i>
                <h2>List</h2>
                <p>Get your listing in front of people looking to make informed decisions for their loved ones</p>
            </div>
            <div class="column">
                <i class="huge circular talk icon"></i>
                <h2>Feedback</h2>
                <p>Get feedback from users of your home, to help you provide the best possible service</p>
            </div>
            <div class="column">
                <i class="huge circular settings icon"></i>
                <h2>Manage</h2>
                <p>Manage all your enquires efficiently, through our unique enquiry management system</p>
            </div>
        </div>
        <br/>
        <a class="ui fluid huge custombutton button">Get started</a>
    </div>
    <div class="padded section">
        <br/>
        <h1>Listings</h1>
        <p>Listing on our site is free, with the option of additional features which can be added to your listing. For free
            we give you the most comprehensive listing of your services, from the listing on our site a potential patient,
            or family member can contact you directly from the listings page via our contact box, which has a number of pre-selected
            topics for the enquiry, this enquiry will be instantly sent directly into your E-mail inbox, and also into your
            EMS (Enquiry Management System), if you choose the EMS as part of your listing package. This gives you insights
            on how you listing is preforming, and you now know where the enquiry has originated from. We allow users of our
            site to leave reviews on a Nursing Home listing for the benefits of other potential users to make better, informed
            decisions on choosing care for their loved ones. Once a review has been made on your listing you will be notified
            of the review being made, where you can from a number of pre-set responses select your response to that review.
            On our paid listing packages there are a greater number of pre-selected responses to choose from. Once a review
            had been made and a response selected, other users of the site with be able to agree, or disagree with the review
            and the response. The reviewer will be able to ‘Score’ your homes listing on a number of factors such as staff,
            management, facilities and cleanliness etc. Some of the factors taken into account in showing your listing at
            the top of the listings page are the ‘Overall Score’ from the user reviews, and the number of reviews. Our aim
            is to drive the quality and standards of the nursing home industry upwards through our user’s reviews and feedback.
            So the better your listing and the greater number of good reviews the higher you’re listing will be displayed
            on our search pages. We have taken all the possible measure’s to avoid misuse of the review system, one of those
            steps is that a user must be logged in with a valid e-mail address in order to leave a review, and their name
            will be partially visible alongside their review. Any reported claims of misuse will be followed up by our review
            team, and the necessary action taken. We may have already have you listed, (basic free listing) to find out if
            your listed click on claim listing and search for your nursing home, if your listed you’ll see a claim listing
            button, click to edit, update or upgrade your listing.
        </p>
    </div>
    <div class="padded section">
        <h1>Enquiry Management System</h1>
        <p>Careze has developed a simple system to enable Nursing Homes to interact and respond to enquiries made by potential
            users of your service, in a timely and efficient manner. It allows you to manage the process of the various stages
            form an initial enquiry all the way through to patient admission. Our Enquiry Management System (EMS) gives you
            a user dashboard to handle all new enquiries that are generated form users viewing the listing profile of your
            nursing home on our listings page. The details of the user’s enquiry will automatically filter into the EMS where
            you will be able to send automatic responses to that user. These responses can be brochures which gives the user
            further information on your services, a detailed list of suitable viewing times, or a request to full out further
            patient information. When the enquiry is first worked by a member of staff, they can then move this enquiry to
            the next stage of the process, such as collecting patient information, scheduling viewings, awaiting funding
            approval, right the way through to patient admission. There are currently two versions of the EMS available a
            standard package with pre-set stages of the enquiry to admission process, and an advance customisable package,
            which allows you to edit and add stages to the process.
        </p>
        <h1>Free Trial offer</h1>
        <p>30 Day Free Trial Try our Enquiry Management System for 30 Days for FREE (no credit card required). You will be notified
            of the trial’s expiry date in advance, giving you the option to continue or revert to the basic free, (or paid
            listing package) without the Enquiry Management System.
        </p>
    </div>
</div>