<div class="fixed padded header">
  <h1 class="inline" [routerLink]="['../webSide']">Care<span class="otherhalf">ze</span></h1>

<!--  this is the button before auth0
  <a class="ui inline blue right floated button" *ngIf="CheckUser()" [routerLink]="['login']">Log In</a>
-->

  <!--------------------------------------------------------------------------------------------->
  <!--  Auth0 -->
  <a class="ui inline blue right floated button" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Log In</a>
  <a class="ui inline blue right floated button" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log Out</a>

  <!--------------------------------------------------------------------------------------------->
  <div class="inline" *ngIf="CheckUserNegative()">
    <div class="ui medium right floated buttons">
      <button class="ui left attached blue button" [routerLink]="['/webSide/account']">Account</button>
      <button class="ui  blue button" [routerLink]="['/webSide/dashboard']">Dashboard</button>
      <button class="ui right attached blue button" (click)="Logout()">Log Out</button>
    </div>
  </div>
</div>
