<div class="mob fixed padded header">
  <h1 class="inline" [routerLink]="['../webSide']">Care<span class="otherhalf">ze</span></h1>
  <a class="link listings" routerLinkActive="active" [routerLink]="['home']">Search listings</a>
  <a class="link blog" routerLinkActive="active" [routerLink]="['blog']">Blog</a>
  <a class="ui inline inverted right floated button" *ngIf="CheckLogin()" [routerLink]="['login']">Log In</a>
  <div class="inline" *ngIf="CheckLogOut()">
    <div class="ui medium right floated buttons">
      <button class="ui left attached inverted button" [routerLink]="['/webSide/account']">Account</button>
      <!--<button class="ui inverted button" [routerLink]="['/webSide/dashboard']">Dashboard</button>-->
      <button class="ui right attached inverted button" (click)="Logout()">Log Out</button>
    </div>
  </div> 
  <button class="mob-button hamburger">&#9776;</button>
  <button class="mob-button cross">&#735;</button>
  <div class="menu">
    <ul>
      <a class="mob-button" *ngIf="CheckLogin()" [routerLink]="['login']"><li>Login</li></a>
      <a class="mob-button" [routerLink]="['/webSide/account']"><li>Account</li></a>
      <a class="mob-button" [routerLink]="['/webSide/dashboard']"><li>Dashboard</li></a>
      <a class="mob-button" (click)="Logout()"><li>Logout</li></a>
    </ul>
  </div> 
</div> 