<div class="padded scrollablecontent">
  <table class="ui definition center aligned striped table">
    <thead>
      <tr>
        <th></th>
        <th>Standard</th>
        <th>Bronze</th>
        <th>Silver</th>
        <th>Gold</th>
        <th>Diamond</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Photos</td>
        <td>6</td>
        <td>10</td>
        <td>12</td>
        <td>15</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Videos</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Response Options</td>
        <td>3</td>
        <td>8</td>
        <td>20</td>
        <td>40</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Review Notifications</td>
        <td>Email</td>
        <td>Email</td>
        <td>Email</td>
        <td>Email & Alert</td>
        <td>Email & Alert</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>Limited</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Geolocation on Map</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Phone Number</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Link to Website</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Contact Name</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Email Contact</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Contact Form</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>User Reviews</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Agree/Disagree on Reviews</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>HIQA Report Link</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Social Media Sharing(Reviews)</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Social Media Sharing(Listing)</td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>List Facilities</td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>List Room Types</td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>List Care Types</td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>List Bed:Staff Ratio</td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>List Viewing Times</td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Enquiry Management System</td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large red remove icon"></i></td>
        <td><i class="large red remove icon"></i></td>
        <td>Limited</td>
        <td><i class="large green checkmark icon"></i></td>
      </tr>
      <tr>
        <td>Price(paying monthly)</td>
        <td>Free</td>
        <td>€39 p/month</td>
        <td>€69 p/month</td>
        <td>€99 p/month</td>
        <td>€149 p/month</td>
      </tr>
      <tr>
        <td>Price(paying yearly)</td>
        <td>Free</td>
        <td>€399 p/year</td>
        <td>€699 p/year</td>
        <td>€999 p/year</td>
        <td>€1499 p/year</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="CheckHome()">
    <h1>Your Homes</h1>
    <table class="ui definition center aligned striped table">
      <tbody>
        <tr *ngFor="let Home of Homes">
          <td>{{Home.name}}</td>
          <td>
            <div class="ui radio checkbox">
              <input type="radio" name={{Home.name}} value="0" onclick="calcPaymentTotal()">
              <label></label>
            </div>
          </td>
          <td>
            <div class="ui radio checkbox">
              <input type="radio" value="1" name={{Home.name}} onclick="calcPaymentTotal()">
              <label></label>
            </div>
          </td>
          <td>
            <div class="ui radio checkbox">
              <input type="radio" value="2" name={{Home.name}} onclick="calcPaymentTotal()">
              <label></label>
            </div>
          </td>
          <td>
            <div class="ui radio checkbox">
              <input type="radio" value="3" name={{Home.name}} onclick="calcPaymentTotal()">
              <label></label>
            </div>
          </td>
          <td>
            <div class="ui radio checkbox">
              <input type="radio" value="4" name={{Home.name}} onclick="calcPaymentTotal()">
              <label></label>
            </div>
          </td>
        </tr>
        <tr>
          <td>Totals</td>
          <td>€0</td>
          <td id="tier1total">€0 p/month</td>
          <td id="tier2total">€0 p/month</td>
          <td id="tier3total">€0 p/month</td>
          <td id="tier4total">€0 p/month</td>
        </tr>
        <tr>
          <td>Grand Total</td>
          <td>I wish to pay:</td>
          <td>
            <div class="ui radio checkbox">
              <input type="radio" value="month" name="payment" onclick="calcPaymentTotal()" checked>
              <label>Monthly</label>
            </div>
          </td>
          <td>
            <div class="ui radio checkbox">
              <input type="radio" value="year" name="payment" onclick="calcPaymentTotal()">
              <label>Yearly</label>
            </div>
          </td>
          <td id="grandtotal">€0 p/month</td>
        </tr>
      </tbody>
    </table>
    <button class="ui fluid custombutton button">Pay</button>
  </div>
</div>